<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test" parallel="classes">
    <classes>
      <class name="dataprovider.dataprovider"/>
      <class name="learntestNG.Demo"/>
      <class name="listeners.listeners"/>
      <class name="learntestNG.Demo1"/>
      <class name="learntestNG.Demo2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
